
header {
    background-color: #FFFFFF;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    padding: 10px 55px 12px 56px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}


.header-button {
    display: flex;
}

.header-button a {
    width: 160px;
    height: 68px;
    border-radius: 15px;
    margin-left: 15px;
    background-color: #F7F0E9;
    color: #A97B47;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;

}

.search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #F7F0E9;
    border-radius: 15px;
    width: min-content;
}

.search img {
    margin: 18px;
    width: 32px;
    height: 32px;
}

.search input {
    font-size: 24px;
    font-weight: 400;
    background-color: #F7F0E9;
    margin-left: 27px;
    padding-right: 213px;
}

.search select {
    font-size: 24px;
    font-weight: 400;
    padding: 25px;
    color: #593C1C;
    background-color: #D8C1A8;
    border-radius: 15px;
}

.search select icon {
    width: 100px;
}

.search select .icon {
    font-size: 30px;
}

.logo img {
    width: 265px;
    height: 95px;
}


@media (min-width: 768px) and (max-width: 992px) {

    header {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
    }

    .search input {
        font-size: 24px;
        font-weight: 400;
        background-color: #F7F0E9;
        margin-left: 27px;
        padding-right: 120px;
    }

    .logo {
        margin-bottom: 20px;
    }

    .header-button {
        justify-content: center;
        margin-top: 20px;
    }

}


@media (min-width: 992px) and (max-width: 1400px) {

    header {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
    }

    .logo {
        margin-bottom: 20px;
    }

    .search input {
        font-size: 24px;
        font-weight: 400;
        background-color: #F7F0E9;
        margin-left: 27px;
        padding-right: 400px;
    }

    .header-button {
        justify-content: center;
        margin-top: 20px;
    }
}