
* {
    font-family: 'Inter';
}

.commodity {
    background-color: #F5F5F5 !important;
    text-align: initial;
}

.header-button {
    color: #593C1C;
    display: flex;
}

.header-button a {
    border-radius: 15px;
    margin-left: 30px;
    background-color: #F7F0E9;
    color: #593C1C;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

}

.username {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}

.cart {
    margin-right: 51px;
}

.logo img {
    width: 265px;
    height: 95px;
}

.main {
    position: relative;
    top: 117px;
    padding-right: 170px;
    padding-left: 110px;
    padding-bottom: 105px;
}

.item-image {
    border-radius: 15px;
}

.title {
    color: #593C1C;
    font-weight: 600;
    font-size: 58px;
    line-height: 70px;
}

.count {
    color: #C82525;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.item-point {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #593C1C;
}

.item-comments {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #909090;
}

.item-brand {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.category {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #593C1C;
}

.brand {
    color: #315FD8;
    text-decoration: underline;
}

.add-to-cart {
    color: #593C1C;
    padding: 20px 56px 20px 70px;
    margin-top: 50px;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    background-color: #FFFFFF;
}

.add-to-cart p {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.add-to-cart button {
    color: #593C1C;
    background-color: #FFFFFF;
    border: 1px solid #593C1C;
    border-radius: 15px;
    padding: 24px 27px 24px 27px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.rate {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-left: 37px;
    padding-top: 51px;
}

.submit-button {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    background-color: #593C1C;
    color: #F7F0E9;
    border-radius: 15px;
    margin-left: 26px;
}

.comments {
    background-color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 34px;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #593C1C;
}

.comment-counts {
    color: #909090;
}

.comment {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin-top: 7px;
    color: #000000;
}

.comment-details {
    color: #919191;
}

.comment-details p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.comment-details ul {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-left: 25px;
}

.comment-details li {
    padding-left: 25px;
}

.comment-rate {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #593C1C;
}

.comment-rate span {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-left: 19px;
}

.comment-row {
    padding: 16px 36px 25px 41px;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
}

.opinion {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #593C1C;
}

.opinion input {
    background: #F5F5F5;
    border-radius: 15px;
    min-height: 120px;
    margin-top: 37px;
    padding: 30px;
}

.more-items {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #593C1C;
}

.item {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    padding: 0 10px 14px;
}

.item:hover {
    background-color:#F7F0E9;
}

.item-title {
    color: #593C1C;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    padding-left: 19px;
}

.item-count {
    color: #C82525;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px; 
    padding-left: 19px;
}

.item-details {
    color: #593C1C;
    padding-left: 28px;
    padding-right: 15px;
}

.item-details p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.item-details button {
    border: 1px solid #593C1C;
    border-radius: 15px;
    padding: 14px 22px 12px 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: #FFFFFF;
}


footer p {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#593C1C;
    padding-top: 15px;
    padding-bottom: 16px;
    color: #FFFFFF;
}


@media (min-width: 768px) and (max-width: 992px) {

    .main {
        position: relative;
        top: 117px;
        padding-right: 100px;
        padding-left: 50px;
        padding-bottom: 105px;
    }


    .submit-button {
        margin: 0;
        margin-top: 10px;
    }
    
}

@media (min-width: 992px) and (max-width: 1400px) {

    .main {
        position: relative;
        top: 117px;
        padding-right: 110px;
        padding-left: 70px;
        padding-bottom: 105px;
    }

    .submit-button {
        margin: 0;
        margin-top: 10px;
    }
}

@media (min-width: 1400px) and (max-width: 1700px) {

    .item-details {
        display: flex;
        flex-direction: column;
    }

    .item-details button {
        margin-top: 15px;
    }

    .item-details p {
        margin-top: 15px;
    }
}