
.item {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    padding: 0 10px 14px;
}

.item:hover {
    background-color:#F7F0E9;
}

.item img {
    height: 15rem;
    max-width: 100%;
}

.item-title {
    color: #593C1C;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    padding-left: 19px;
    text-align: left;
}

.item-count {
    color: #C82525;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px; 
    padding-left: 19px;
    text-align: left;
}

.item-details {
    color: #593C1C;
    padding-left: 28px;
    padding-right: 15px;
}

.item-details p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.item-details button {
    border: 1px solid #593C1C;
    border-radius: 15px;
    padding: 14px 22px 12px 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: #FFFFFF;
    color: #593C1C;
}

.item-details button:disabled {
    background: #F5F5F5;
    color: #919191;
    border: 1px solid #919191;
}


@media (min-width: 1400px) and (max-width: 1700px) {

    .item-details {
        display: flex;
        flex-direction: column;
    }

    .item-details button {
        margin-top: 15px;
    }

    .item-details p {
        margin-top: 15px;
    }
}